.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "a a"
    "b c ";
}
.a{
    grid-area: a;
    background: pink;
}
.b{
    grid-area: b;
    background: powderblue;
}
.c{
    grid-area: c;
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
